<!-- Main row -->
<div class="row">
  <!-- Left col -->
  <section class="col-lg-4">
          
    <status-block
        name="What is love"
        number="{{ globalCounter }}"
        percent="{{ globalCounter }}"
        description="This is a test" 
        ></status-block>

    <acm-counter name="Raphel" inc="1"></acm-counter>
    <acm-counter name="Forest" inc="5"></acm-counter>
    <acm-counter name="Ed" inc="5.2"></acm-counter>



  </section><!-- /.Left col -->

  <section class="col-lg-4">
        
    <status-block
        name="What is love"
        number="20"
        percent="10"
        description="This is a test" 
        ></status-block>

   <content-box title="Test Header">
      <h1>Global Counter: {{ globalCounter }}</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores!</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores!</p>
    </content-box>


   <content-box title="Test Header">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores!</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores!</p>
    </content-box>


  </section><!-- /.Left col -->

  <section class="col-lg-4">

    <status-block
        name="What is love"
        number="20"
        percent="10"
        description="This is a test" 
        ></status-block>

    <content-box title="Test Header">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores!</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at quaerat quae a, ipsa qui enim eos dignissimos doloribus facilis placeat in. Repellendus omnis, id rerum eaque, officia suscipit asperiores!</p>
    </content-box>

    <status-block
        name="Baby don't hurt me"
        number="20"
        percent="20"
        description="This is a test" 
        ></status-block>

    <status-block
        name="Don't hurt me no more"
        number="20"
        percent="100"
        description="This is a test" 
        ></status-block>

  </section>
  </div>
